<html lang="{$lang}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>
      {$row.name}-{:lang('下载')}
    </title>
    
    <style>
    .ios-index .box{
        padding:10vw 0 13.333vw 0 !important;
    }
    #lottie {

		width: 50px;

		height: 50px;

		overflow: hidden;

		transform: translate3d(0, 0, 0);

		text-align: center;

		opacity: 1;

		margin: 0 auto
	}
	#loading{
	        

	}
    
    </style>
    
    <link href="/css/chunk-vendors.f3162bd3.css" rel="stylesheet">
    <link href="/css/app.7951a517.css" rel="stylesheet">
    
    <script type="text/javascript" src="/img/load.json"></script>
    <script type="text/javascript" src="/assets/js/lottie.min.js"></script>
    
    <script src="/assets/js/vue.min.js"></script>
    
<!-- 引入组件库 -->

  </head>
  
  <body class="">
    <div id="app">
      <div class="ios-index">
          <a :href="src" ref="src"></a>
          
          <div id="loading" v-show="show" style="display: none;">
              
             <div class="loadtoast " style="background: rgba(0,0,0,.8);border-radius: 1rem;color: #fff;padding: .5rem;font-size: 1rem;
            line-height: 1.5;
            position: fixed;
            z-index: 11000;
            width: auto;
            left: 50%;
            margin-top: 0;
            top: 50%;
            text-align: center;
            border-radius: .5rem;
            -webkit-transform: translate3d(0,0,0) scale(1.185);
            transform: translate3d(0,0,0) scale(1.185);
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%)">
        <div id="lottie"></div>
        <div style="white-space:nowrap;padding:5px 10px">
            
            {:lang('正在准备链接，请稍等...')}
        </div>
        
    </div>
              
          </div>
          
        <div class="box">
            <div style="text-align:center">
                <img src="{$row.icon_image}" style="width:80px;border-radius:10%" alt="">
                <h1 id="" style="color:#FFFFFF;font-size:24px;">{$row.name}</h1>
            </div>
          <div class="item AClass">
            <div class="setup">
              {:lang('第一步')}
            </div>
            <div class="body">
              <div class="text">
                <p>
                    {:lang('首先安装【TestFlight】然后返回本页')}
                  
                </p>
                <p>
                    {:lang('如已安装请直接操作第二步')}
                  
                </p>
              </div>
              <div class="button">
                <a href="https://itunes.apple.com/app/id899247664"
                target="_blank">
                  <div class="ico">
                    <img src="/img/A.a622d36f.png" alt="">
                  </div>
                  <div class="tip">
                    
                    {:lang('安装 TestFlight')}
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="item BClass">
            <div class="setup">
              
              {:lang('第二步')}
            </div>
            <div class="body">
              <div class="text">
                <p>
                    
                  {:lang('点击下载')} 【{$row.name}】
                </p>
                <p>
                    {:lang('请勿在意名字下载完成后打开即为')}-{$row.name}
                </p>
              </div>
              <div class="button">
                <a href="javascript:;" onclick="check();" 
                class="clipboard_button">
                  <div class="ico">
                    <img src="{$row.icon_image}" alt="" style="border-radius: 6px;">
                  </div>
                  <div class="tip">
                    {:lang('下载')}  {$row.name}
                  </div>
                </a>
              </div>
              <div class="tutorial">
                <div class="text">
                  <a href="/tutorial/index.html"><font color="#ff0000">{:lang('如遇提示 "无法打开链接" 查看设置教程')} &gt;&gt;&gt;</font></a>
                </div>
              </div>
            </div>
          </div>
          {if $row.by_link}
          <div class="item BClass">
            <div class="setup">
               {:lang('备用下载')} 
              
            </div>
            <div class="body">
              <div class="text">
                <p>
                     {:lang('苹果备用下载通道')} 
                  
                </p>
                <p>
                  {:lang('以上方式均无法安装的时候请点击备用下载')}   
                  
                </p>
              </div>
              <div class="button">
                <a href="{$row.by_link}"
                target="_blank" class="clipboard_button">
                  <div class="ico">
                    <img src="{$row.icon_image}" alt="" style="border-radius: 6px;">
                  </div>
                  <div class="tip">
                    {:lang('备用下载通道')}     
                    
                  </div>
                </a>
              </div>
            </div>
          </div>
          {/if}
        </div>
      </div>
    </div>

    <div class="van-toast van-toast--middle van-toast--loading" style="z-index: 2004; display: none;">
      <div class="van-loading van-loading--circular van-toast__loading">
        <span class="van-loading__spinner van-loading__spinner--circular">
          <svg viewBox="25 25 50 50" class="van-loading__circular">
            <circle cx="50" cy="50" r="20" fill="none">
            </circle>
          </svg>
        </span>
      </div>
      
    </div>
    
  </body>
    <script >
      
      var app = new Vue({el:'#app',data:{fullscreenLoading:false,src:'',lock:false,show:false},
      mounted(){
          var params = {
        container: document.getElementById('lottie'),
        renderer: 'svg',
        loop: true,
        autoplay: true,
        animationData: animationData
         };
        var anim;
        anim = lottie.loadAnimation(params)
      }
          
      });
      //check();
      function check(lock=true){
          if(app.lock&&lock){
              return;
          }
           app.show=true
          app.lock=true
          
const data = JSON.stringify({
  "isAjax": true
});

const xhr = new XMLHttpRequest();
xhr.withCredentials = true;

xhr.addEventListener("readystatechange", function () {
  if (this.readyState === this.DONE) {
      if(this.responseText){
          app.lock=false
          app.show=false
          //app.src=this.responseText
          setTimeout(()=>{
             // app.$refs.src.$el.click();
          },200);
          
          window.location.href =this.responseText
      }else{
          app.show=true
          setTimeout(()=>{
              check(false)
          },1000);
      }
    
  }
});

xhr.open("POST", "/loading/ids/{$row.id}");
xhr.setRequestHeader("cache-control", "no-cache");
xhr.setRequestHeader("Content-Type", "application/json");

xhr.send(data);
          
      }
      
      
    
  </script>

</html>